Assignment 1/TempConverterWebApp/Connected Services/TempService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c2f">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="c2fResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c2fResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="f2c">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="f2cResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f2cResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>