Assignment 4/Assignment 4/WebApplication/Connected Services/XMLServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="verification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>